# .gitignore
__pycache__/
*.pyc
.DS_Store
.venv
.idea*
*.pkl
/experiment_01/models/
/experiment_02/mlartifacts/
/experiment_02/mlruns/
/experiment_02/mlflow_tracking/
/experiment_03/data/processed/
/experiment_03/models/
/experiment_03/reports/
/experiment_03/mlflow_tracking/
/experiment_03/mlruns/
/experiment_03/mlartifacts/
/experiment_03/.coverage
/experiment_03/coverage.xml
